<h1><%= @recipe.name %></h1>

<h2>Ingredients</h1>

  <table class='table'>
    Number of Ingredients: <%= @recipe.ingredients.count %>
    <% @recipe.ingredients.each do |i| %>
    <tr>
      <td><%= i.quantity(@recipe) %></td> <%# just unsure why this wont show %>
      <td><%= link_to i.name, ingredient_path(i.id) %></td>
    </tr>
    <% end %>
  </table>
